<h1>Triangle Tracker</h1>
<form action="/result" method="get">
  <div class="form-group">
    <label for="side1">Enter 1st side</label>
    <input class="form-control" type="text" name="side1" id="side1">
    <label for="side2">Enter 2nd side</label>
    <input class="form-control" type="text" name="side2" id="side2">
    <label for="side3">Enter 3rd side</label>
    <input class="form-control" type="text" name="side3" id="side3">
  </div>
  <button type="submit" class="btn-success submit-btn">Submit</button>
</form>
